@media (max-width: 699px) {
  .wwd-slide__list-item {
    position: relative;
  }
  .wwd-slide__list-item > span.list__item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s;
  }
  .wwd-slide__list-item.is-active > span.list__item:after {
    transform: translateY(-50%) rotate(-135deg);
  }
  .wwd-slide__text {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
}
